pipeline/pl_update_multiple_product_prices.json
{
	"name": "pl_update_multiple_product_prices",
	"properties": {
		"activities": [
			{
				"name": "get_product_data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat(\n    'select ProductID, Name, ListPrice from SalesLT.Product where Name like ''%',\n    pipeline().parameters.p_product_name,\n    '%'''\n)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_sql_database",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "for_each_product",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_product_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_product_data').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "calculate_price",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_new_price",
								"value": {
									"value": "@string(\n    mul(\n        item().ListPrice, \n        add(1.0, div(pipeline().parameters.p_price_percent, 100.0))))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "update_price",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "calculate_price",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ln_azuresql_saleslt",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "NonQuery",
										"text": {
											"value": "@concat('update SalesLT.Product set ListPrice=''',\nvariables('v_new_price'),\n''', ModifiedDate=getdate() where ProductID=',\nitem().ProductID)",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_product_name": {
				"type": "string"
			},
			"p_price_percent": {
				"type": "int"
			}
		},
		"variables": {
			"v_new_price": {
				"type": "String"
			}
		},
		"annotations": []
	}
}