pipeline/pl_verify_fileset.json
{
	"name": "pl_verify_fileset",
	"properties": {
		"activities": [
			{
				"name": "get_list_of_files",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "get_job_params",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_cloud_files",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@activity('get_job_params').output.firstRow.container",
								"type": "Expression"
							},
							"folder": {
								"value": "@activity('get_job_params').output.firstRow.folder",
								"type": "Expression"
							},
							"file_pattern": {
								"value": "@activity('get_job_params').output.firstRow.file_pattern",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "get_job_params",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[etl].[GetJobParams]",
						"storedProcedureParameters": {
							"JobName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.content",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_sql_database",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_list_of_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": []
			}
		],
		"parameters": {
			"content": {
				"type": "string",
				"defaultValue": "products"
			}
		},
		"variables": {
			"all_file_names": {
				"type": "String"
			}
		},
		"annotations": []
	}
}